/* homepage */
.nav-link {
    display: block;
    text-align: end;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: revert;
    font-size: 1.5em;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.anim-nav {
    background: rgb(0, 0, 0);
    color: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.navbar-default{
    background-color: black;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.9em;
    height: 1.9em;
    vertical-align: middle;
    background-image: url(https://www.zupimages.net/up/21/36/vos6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://i.ibb.co/y6yDyj5/IMG-2611.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fw-light {
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: sans-serif;
    font-size: 7em;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: 300!important;
} 
.lead-a {
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
}


  @media screen and (max-width: 500px) {
    
    .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 2em;
        line-height: 30px;

    }
    .fw-light{
        font-size: 2.5em;
    }
    .lead-a{
        font-size: 20px;
    }
}  
/* Cookie Barre */
.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #000000 
}

@media screen and (max-width: 500px) {
    
    .cookiealert.show {
        max-width: 500px;

    }
} 

/* Progression */



/* Compétence */

.body-c{
    margin-top:20px;
    background:rgb(0, 0, 0);
}

.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

p {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: #ffffff;
    left: 20%;
    margin-left: -2.5px
}

.timeline>li {
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
    display: block;
    font-weight: 600
}

.timeline .timeline-time .date {
    color: white;
    line-height: 16px;
    font-size: 12px
}

.timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: #ffffff
}

.timeline .timeline-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px
}

.timeline .timeline-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #ffffff;
    transition: border-color .2s linear
}

.timeline .timeline-body {
    margin-left: 23%;
    margin-right: 17%;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}

.timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #f4524d;
    left: -20px;
    top: 20px
}

.timeline .timeline-body>div+div {
    margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}

.timeline-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    line-height: 30px
}

.timeline-header .userimage {
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 40px;
    overflow: hidden;
    margin: -2px 10px -2px 0
}

.timeline-header .username {
    font-size: 16px;
    font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
    color: #ffffff
}

.timeline img {
    max-width: 100%;
    display: block
}

.timeline-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px
}

.timeline-content:after,
.timeline-content:before {
    content: '';
    display: table;
    clear: both
}

.timeline-title {
    margin-top: 0
}

.timeline-footer {
    background: #fff;
    border-top: 1px solid #ffffff;
    padding-top: 15px
}

.timeline-footer a:not(.btn) {
    color: #ffffff
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
    color: #ffffff
}


.timeline-likes .stats-total {
    display: inline-block;
    line-height: 20px
}

.text-muted {
    --bs-text-opacity: 1;
    color: #ffffff!important;
}

.timeline-likes .stats-icon+.stats-icon {
    margin-left: -2px
}

.timeline-likes .stats-text {
    line-height: 20px
}

.timeline-likes .stats-text+.stats-text {
    margin-left: 15px
}

.timeline-comment-box {
    background: #ffffff;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 25px
}

.timeline-comment-box .user {
    float: left;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 30px
}

.timeline-comment-box .user img {
    max-width: 100%;
    max-height: 100%
}

.timeline-comment-box .user+.input {
    margin-left: 44px
}

.lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}

.text-danger, .text-red {
    color: #ff5b57!important;
}

@media screen and (max-width: 500px) {
    .timeline .timeline-body{
        margin-right: 0px;
    }
    .timeline .timeline-time .time {
        line-height: 24px;
        font-size: 10px; 
        color: #ffffff;
    }
    .timeline .timeline-time .date {
        font-size: 10px;
    }
    .timeline:before {
        width: 3px;
    }
    .timeline .timeline-icon a {
        width: 15px;
        height: 15px;
        border: 3px solid #ffffff;
    }
}

/****** Portfolio ******/



/****** Contact *******/

section#contact{
    margin-bottom: 50px;
    background-color: rgb(218, 213, 213);
    padding: 100px 15px;
}

.back-contact{
    background: #eeeeee;
}

.get-in-touch {
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px 10px #f8f6f6;
  
  }
  .get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 15px;
    bottom: 11px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    
    .get-in-touch {
        max-width: 500px;
        margin: 0px auto;
        padding: 40px 10px;
    }
    .contact-form .input-text {
        width: 90%;
        display: flex;
    }
}

/** ******FOOTER*********/

.list-unstyled{
    color: #ffffff;
}
.my-5{
    background-color: #000000;
}      
.container-fluid {
    overflow: hidden;
    margin-top: 0px;
    background: #000000;
    color: #ffffff !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #ffffff !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}