:root {
  --section-divider-height: 60;
  --section-divider-width: 1920;
  --section-divider-ratio: calc(100% * var(--section-divider-height) / var(--section-divider-width));
}

.has-section-divider {
  position: relative;
  padding-bottom: var(--section-divider-ratio);
}

.section-divider {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: auto;
}

[data-theme=dark] {
  --color-primary-darker: hsl(201, 65%, 42%);
  --color-primary-darker-h: 201;
  --color-primary-darker-s: 65%;
  --color-primary-darker-l: 42%;
  --color-primary-dark: hsl(201, 65%, 52%);
  --color-primary-dark-h: 201;
  --color-primary-dark-s: 65%;
  --color-primary-dark-l: 52%;
  --color-primary: hsl(201, 65%, 62%);
  --color-primary-h: 201;
  --color-primary-s: 65%;
  --color-primary-l: 62%;
  --color-primary-light: hsl(201, 65%, 72%);
  --color-primary-light-h: 201;
  --color-primary-light-s: 65%;
  --color-primary-light-l: 72%;
  --color-primary-lighter: hsl(201, 65%, 82%);
  --color-primary-lighter-h: 201;
  --color-primary-lighter-s: 65%;
  --color-primary-lighter-l: 82%;
  --color-accent-darker: hsl(358, 97%, 43%);
  --color-accent-darker-h: 358;
  --color-accent-darker-s: 97%;
  --color-accent-darker-l: 43%;
  --color-accent-dark: hsl(358, 97%, 53%);
  --color-accent-dark-h: 358;
  --color-accent-dark-s: 97%;
  --color-accent-dark-l: 53%;
  --color-accent: hsl(358, 97%, 63%);
  --color-accent-h: 358;
  --color-accent-s: 97%;
  --color-accent-l: 63%;
  --color-accent-light: hsl(358, 97%, 73%);
  --color-accent-light-h: 358;
  --color-accent-light-s: 97%;
  --color-accent-light-l: 73%;
  --color-accent-lighter: hsl(358, 97%, 83%);
  --color-accent-lighter-h: 358;
  --color-accent-lighter-s: 97%;
  --color-accent-lighter-l: 83%;
  --color-secondary-darker: hsl(165, 2%, 24%);
  --color-secondary-darker-h: 165;
  --color-secondary-darker-s: 2%;
  --color-secondary-darker-l: 24%;
  --color-secondary-dark: hsl(165, 2%, 34%);
  --color-secondary-dark-h: 165;
  --color-secondary-dark-s: 2%;
  --color-secondary-dark-l: 34%;
  --color-secondary: hsl(165, 2%, 44%);
  --color-secondary-h: 165;
  --color-secondary-s: 2%;
  --color-secondary-l: 44%;
  --color-secondary-light: hsl(165, 2%, 54%);
  --color-secondary-light-h: 165;
  --color-secondary-light-s: 2%;
  --color-secondary-light-l: 54%;
  --color-secondary-lighter: hsl(165, 2%, 64%);
  --color-secondary-lighter-h: 165;
  --color-secondary-lighter-s: 2%;
  --color-secondary-lighter-l: 64%;
  --color-black: hsl(240, 8%, 12%);
  --color-black-h: 240;
  --color-black-s: 8%;
  --color-black-l: 12%;
  --color-white: hsl(0, 0%, 100%);
  --color-white-h: 0;
  --color-white-s: 0%;
  --color-white-l: 100%;
  --color-warning-darker: hsl(46, 100%, 41%);
  --color-warning-darker-h: 46;
  --color-warning-darker-s: 100%;
  --color-warning-darker-l: 41%;
  --color-warning-dark: hsl(46, 100%, 51%);
  --color-warning-dark-h: 46;
  --color-warning-dark-s: 100%;
  --color-warning-dark-l: 51%;
  --color-warning: hsl(46, 100%, 61%);
  --color-warning-h: 46;
  --color-warning-s: 100%;
  --color-warning-l: 61%;
  --color-warning-light: hsl(46, 100%, 71%);
  --color-warning-light-h: 46;
  --color-warning-light-s: 100%;
  --color-warning-light-l: 71%;
  --color-warning-lighter: hsl(46, 100%, 81%);
  --color-warning-lighter-h: 46;
  --color-warning-lighter-s: 100%;
  --color-warning-lighter-l: 81%;
  --color-success-darker: hsl(94, 48%, 36%);
  --color-success-darker-h: 94;
  --color-success-darker-s: 48%;
  --color-success-darker-l: 36%;
  --color-success-dark: hsl(94, 48%, 46%);
  --color-success-dark-h: 94;
  --color-success-dark-s: 48%;
  --color-success-dark-l: 46%;
  --color-success: hsl(94, 48%, 56%);
  --color-success-h: 94;
  --color-success-s: 48%;
  --color-success-l: 56%;
  --color-success-light: hsl(94, 48%, 66%);
  --color-success-light-h: 94;
  --color-success-light-s: 48%;
  --color-success-light-l: 66%;
  --color-success-lighter: hsl(94, 48%, 76%);
  --color-success-lighter-h: 94;
  --color-success-lighter-s: 48%;
  --color-success-lighter-l: 76%;
  --color-error-darker: hsl(358, 97%, 43%);
  --color-error-darker-h: 358;
  --color-error-darker-s: 97%;
  --color-error-darker-l: 43%;
  --color-error-dark: hsl(358, 97%, 53%);
  --color-error-dark-h: 358;
  --color-error-dark-s: 97%;
  --color-error-dark-l: 53%;
  --color-error: hsl(358, 97%, 63%);
  --color-error-h: 358;
  --color-error-s: 97%;
  --color-error-l: 63%;
  --color-error-light: hsl(358, 97%, 73%);
  --color-error-light-h: 358;
  --color-error-light-s: 97%;
  --color-error-light-l: 73%;
  --color-error-lighter: hsl(358, 97%, 83%);
  --color-error-lighter-h: 358;
  --color-error-lighter-s: 97%;
  --color-error-lighter-l: 83%;
  /* couleur à modifier */
  --color-bg: hsl(0, 0%, 0%);
  /**********************/
  --color-bg-h: 240;
  --color-bg-s: 8%;
  --color-bg-l: 12%;
  --color-contrast-lower: hsl(240, 6%, 15%);
  --color-contrast-lower-h: 240;
  --color-contrast-lower-s: 6%;
  --color-contrast-lower-l: 15%;
  --color-contrast-low: hsl(252, 4%, 25%);
  --color-contrast-low-h: 252;
  --color-contrast-low-s: 4%;
  --color-contrast-low-l: 25%;
  --color-contrast-medium: hsl(240, 1%, 52%);
  --color-contrast-medium-h: 240;
  --color-contrast-medium-s: 1%;
  --color-contrast-medium-l: 52%;
  --color-contrast-high: hsl(0, 0%, 89%);
  --color-contrast-high-h: 0;
  --color-contrast-high-s: 0%;
  --color-contrast-high-l: 89%;
  --color-contrast-higher: hsl(0, 0%, 100%);
  --color-contrast-higher-h: 0;
  --color-contrast-higher-s: 0%;
  --color-contrast-higher-l: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme=softSecondary] {
  
  --color-primary-darker: hsl(220, 89%, 36%);
  --color-primary-darker-h: 220;
  --color-primary-darker-s: 89%;
  --color-primary-darker-l: 36%;
  --color-primary-dark: hsl(220, 89%, 46%);
  --color-primary-dark-h: 220;
  --color-primary-dark-s: 89%;
  --color-primary-dark-l: 46%;
  --color-primary: hsl(220, 89%, 56%);
  --color-primary-h: 220;
  --color-primary-s: 89%;
  --color-primary-l: 56%;
  --color-primary-light: hsl(220, 89%, 11%);
  --color-primary-light-h: 220;
  --color-primary-light-s: 89%;
  --color-primary-light-l: 66%;
  --color-primary-lighter: hsl(220, 89%, 76%);
  --color-primary-lighter-h: 220;
  --color-primary-lighter-s: 89%;
  --color-primary-lighter-l: 76%;
  --color-accent-darker: hsl(358, 97%, 43%);
  --color-accent-darker-h: 358;
  --color-accent-darker-s: 97%;
  --color-accent-darker-l: 43%;
  --color-accent-dark: hsl(358, 97%, 53%);
  --color-accent-dark-h: 358;
  --color-accent-dark-s: 97%;
  --color-accent-dark-l: 53%;
  --color-accent: hsl(358, 97%, 63%);
  --color-accent-h: 358;
  --color-accent-s: 97%;
  --color-accent-l: 63%;
  --color-accent-light: hsl(358, 97%, 73%);
  --color-accent-light-h: 358;
  --color-accent-light-s: 97%;
  --color-accent-light-l: 73%;
  --color-accent-lighter: hsl(358, 97%, 83%);
  --color-accent-lighter-h: 358;
  --color-accent-lighter-s: 97%;
  --color-accent-lighter-l: 83%;
  --color-secondary-darker: hsl(197, 73%, 37%);
  --color-secondary-darker-h: 197;
  --color-secondary-darker-s: 73%;
  --color-secondary-darker-l: 37%;
  --color-secondary-dark: hsl(197, 73%, 47%);
  --color-secondary-dark-h: 197;
  --color-secondary-dark-s: 73%;
  --color-secondary-dark-l: 47%;
  --color-secondary: hsl(197, 73%, 57%);
  --color-secondary-h: 197;
  --color-secondary-s: 73%;
  --color-secondary-l: 57%;
  --color-secondary-light: hsl(197, 73%, 67%);
  --color-secondary-light-h: 197;
  --color-secondary-light-s: 73%;
  --color-secondary-light-l: 67%;
  --color-secondary-lighter: hsl(197, 73%, 77%);
  --color-secondary-lighter-h: 197;
  --color-secondary-lighter-s: 73%;
  --color-secondary-lighter-l: 77%;
  --color-black: hsl(240, 8%, 12%);
  --color-black-h: 240;
  --color-black-s: 8%;
  --color-black-l: 12%;
  --color-white: hsl(0, 0%, 100%);
  --color-white-h: 0;
  --color-white-s: 0%;
  --color-white-l: 100%;
  --color-warning-darker: hsl(46, 100%, 41%);
  --color-warning-darker-h: 46;
  --color-warning-darker-s: 100%;
  --color-warning-darker-l: 41%;
  --color-warning-dark: hsl(46, 100%, 51%);
  --color-warning-dark-h: 46;
  --color-warning-dark-s: 100%;
  --color-warning-dark-l: 51%;
  --color-warning: hsl(46, 100%, 61%);
  --color-warning-h: 46;
  --color-warning-s: 100%;
  --color-warning-l: 61%;
  --color-warning-light: hsl(46, 100%, 71%);
  --color-warning-light-h: 46;
  --color-warning-light-s: 100%;
  --color-warning-light-l: 71%;
  --color-warning-lighter: hsl(46, 100%, 81%);
  --color-warning-lighter-h: 46;
  --color-warning-lighter-s: 100%;
  --color-warning-lighter-l: 81%;
  --color-success-darker: hsl(94, 48%, 36%);
  --color-success-darker-h: 94;
  --color-success-darker-s: 48%;
  --color-success-darker-l: 36%;
  --color-success-dark: hsl(94, 48%, 46%);
  --color-success-dark-h: 94;
  --color-success-dark-s: 48%;
  --color-success-dark-l: 46%;
  --color-success: hsl(94, 48%, 56%);
  --color-success-h: 94;
  --color-success-s: 48%;
  --color-success-l: 56%;
  --color-success-light: hsl(94, 48%, 66%);
  --color-success-light-h: 94;
  --color-success-light-s: 48%;
  --color-success-light-l: 66%;
  --color-success-lighter: hsl(94, 48%, 76%);
  --color-success-lighter-h: 94;
  --color-success-lighter-s: 48%;
  --color-success-lighter-l: 76%;
  --color-error-darker: hsl(358, 97%, 43%);
  --color-error-darker-h: 358;
  --color-error-darker-s: 97%;
  --color-error-darker-l: 43%;
  --color-error-dark: hsl(358, 97%, 53%);
  --color-error-dark-h: 358;
  --color-error-dark-s: 97%;
  --color-error-dark-l: 53%;
  --color-error: hsl(358, 97%, 63%);
  --color-error-h: 358;
  --color-error-s: 97%;
  --color-error-l: 63%;
  --color-error-light: hsl(358, 97%, 73%);
  --color-error-light-h: 358;
  --color-error-light-s: 97%;
  --color-error-light-l: 73%;
  --color-error-lighter: hsl(358, 97%, 83%);
  --color-error-lighter-h: 358;
  --color-error-lighter-s: 97%;
  --color-error-lighter-l: 83%;
  /* couleur à modifier */
  --color-bg: #eee;
  /**********************/
  --color-bg-h: 199;
  --color-bg-s: 76%;
  --color-bg-l: 95%;
  --color-contrast-lower: hsl(199, 39%, 90%);
  --color-contrast-lower-h: 199;
  --color-contrast-lower-s: 39%;
  --color-contrast-lower-l: 90%;
  --color-contrast-low: hsl(202, 15%, 79%);
  --color-contrast-low-h: 202;
  --color-contrast-low-s: 15%;
  --color-contrast-low-l: 79%;
  --color-contrast-medium: hsl(210, 5%, 50%);
  --color-contrast-medium-h: 210;
  --color-contrast-medium-s: 5%;
  --color-contrast-medium-l: 50%;
  --color-contrast-high: hsl(230, 6%, 20%);
  --color-contrast-high-h: 230;
  --color-contrast-high-s: 6%;
  --color-contrast-high-l: 20%;
  --color-contrast-higher: hsl(240, 8%, 12%);
  --color-contrast-higher-h: 240;
  --color-contrast-higher-s: 8%;
  --color-contrast-higher-l: 12%;
}


[data-theme=dark2]{
  --color-bg: #eee;
}

[data-theme=softSecondary2]{
  --color-bg: rgb(0, 0, 0);
}

[data-theme=dark3]{
  --color-bg: rgb(0, 0, 0);
}

[data-theme=softSecondary3]{
  --color-bg: rgb(0, 0, 0);
}